@model IEnumerable<Stanford_ShopThoiTrang.Models.Slide>
@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Areas/Admin/Views/Shared/_ShopAdmin.cshtml";
}

@section tieuDeTrang{
    Shop thời trang
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Quản lý Slide
    </small>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#chkAll').change(function () {
            var check = $(this).prop('checked');
            $('.ace').each(function (index, item) {
                $(item).prop('checked', check);
            });
        });

        $('#btnDuyetSanPham').click(function () {
            var arr = [];
            $('.ace').each(function (index, item) {
                if ($(item).prop('checked')) {
                    var idRow = parseInt($(item).val());
                    arr.push(idRow);
                }
            });
            $.ajax({
                url: "/Admin/Slide/DuyetSanPham",
                type: "POST",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(arr),
                dataType: "json",
                success: function (data) {
                    alert('Duyệt thành công ' + data + ' slide');
                    window.location.reload();
                }
            });
        });

        $('#btnThem').click(function () {
            window.location = "/Admin/Slide/ThemSlide";
        });

        $('#btnBoDuyet').click(function () {
            var arr = [];
            $('.ace').each(function (index, item) {
                if ($(item).prop('checked')) {
                    var idRow = parseInt($(item).val());
                    arr.push(idRow);
                }
            });
            $.ajax({
                url: "/Admin/Slide/BoDuyetSlide",
                type: "POST",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(arr),
                dataType: "json",
                success: function (data) {
                    alert('Đã bỏ duyệt được ' + data + ' slide');
                    window.location.reload();
                }
            });
        });

    });
    $(document).ready(function () {

        $('#chkAll').change(function () {
            var check = $(this).prop('checked');
            $('.ace').each(function (index, item) {
                $(item).prop('checked', check);
            });
        });

        $("#delete").click(function () {
            var Id = new Array();
            $('input:checkbox.ace').each(function () {
                if ($(this).prop('checked')) {
                    Id.push($(this).val());
                }
            });
            var options = {};
            options.url = "/Admin/Slide/Delete";
            options.type = "POST";
            options.data = JSON.stringify(Id);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                alert(msg);
            };
            options.error = function () {
                alert("Có lỗi khi xóa");
            };
            $.ajax(options);

        });
    });

    function XoaSlide(id) {
        var kq = confirm('Bạn có chắc chắc muốn xóa không');
        if (kq) {
            var frmData = new FormData();
            frmData.append('id', Id);
            $.ajax({
                url: "/Admin/Slide/Xoa",
                type: "POST",
                contentType: false,
                processData: false,
                data: frmData,
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        alert('Xóa thành công');
                        window.location.reload();
                    }
                }
            });
        }
    }

</script>
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row">
            <div class="col-xs-12">
                <div class="clearfix">
                    <div class="pull-right tableTools-container">
                        <span class="btn btn-primary" id="btnThem" style="border-radius: 7px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Thêm mới</span>
                        <span class="btn btn-success" id="btnDuyetSanPham" style="width:117.59px;height:42px;border-radius:7px"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Duyệt</span>
                        <span class="btn btn-danger" id="btnBoDuyet" style="width:117.59px;height:42px;border-radius:7px"><span class="	glyphicon glyphicon-remove" aria-hidden="true"></span>Bỏ duyệt</span>
                    </div>
                </div>
                <div class="table-header">
                    Danh sách Slide
                </div>

                <!-- div.table-responsive -->
                <!-- div.dataTables_borderWrap -->
                <div>
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" id="chkAll" />
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>Ảnh Slide</th>
                                <th>Tên Slide</th>
                                <th>Mô Tả</th>
                                <th>Ngày tạo</th>
                                <th>Đã duyệt</th>
                                <th>
                                    <div class="hidden-sm hidden-xs action-buttons">

                                        <a class="red" href="#" value="Xoa" onclick="return confirm('Xác nhận các nhật ký được chọn ?')" id="delete">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                    </div>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="center">
                                        <label class="pos-rel">
                                            <input type="checkbox" class="ace" value="@item.Id" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                    <td><img src="~/Content/Images/@item.Anh" width="170" height="170" class="img-thumbnail" /></td>
                                    <td>@item.TenSlide</td>

                                    <td>@item.MoTa</td>

                                    <td>
                                        @if (item.NgayTao.HasValue)
                                        {
                                            @item.NgayTao.Value.ToString("dd/MM/yyyy")
                                        }
                                    </td>
                                    <td>
                                        @if (item.DaDuyet.HasValue)
                                        {
                                            if (item.DaDuyet == true)
                                            {
                                                <span class="glyphicon glyphicon-ok-sign" style="font-size:23px"></span>
                                            }
                                            else
                                            {
                                                <span class="glyphicon glyphicon-minus-sign" style="font-size:23px"></span>
                                            }
                                        }
                                    </td>
                                    <td style="width:120px;">
                                        <div class="hidden-sm hidden-xs action-buttons">

                                            <a class="green" href="/Admin/Slide/SuaSlide/@item.Id">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>

                                            <a class="red" href="#" onclick="XoaSlide(@item.Id);">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
