@model IEnumerable<Stanford_ShopThoiTrang.Models.ChucNang>

@{
    ViewBag.Title = "Quản lý thông tin Chức Năng";
    Layout = "~/Areas/Admin/Views/Shared/_ShopAdmin.cshtml";


}

@**Khai báo tiêu đề cho trang danh sách*@
@section tieuDeTrang{
    Shop thời trang
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Quản lý Chức Năng
    </small>
}
<script type="text/javascript">
    $(document).ready(function () {
        //Xử lý thêm mới
        $("#btnThucHien").click(function () {
            //Lấy thông tin
            var tenCN = $("#txtTenChucNang").val();
            var moTa = $("#txtMoTa").val();
            var tenForm = $("#txtTenForm").val();
            var module = $("#txtModule").val();
            var chucnangId = $("#SuachucNangId").val();

            var frmData = new FormData();

            frmData.append('tenCN', tenCN);
            frmData.append('moTa', moTa);
            frmData.append('tenForm', tenForm);
            frmData.append('module', module);

            if (chucnangId == null || chucnangId.length == 0) {
                var chucnangId1 = "0";
                frmData.append('id', chucnangId1);
            } else {
                frmData.append('id', chucnangId);
            }

            //Thực hiện xử lý thêm mới bằng ajax
            $.ajax({
                type: "POST",
                contentType: false,
                processData: false,
                url: "/Admin/ChucNang/ThemChucNangJson",
                data: frmData,
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        //Reload lại danh sách
                        window.location.reload();
                    }
                }
            });
        });
    });

    //Xóa thông tin khi đóng form
    function XoaThongTinForm() {
        $("#tieude").text("Thêm mới chức năng");
        $("#txtTenChucNang").val("");
        $("#txtMoTa").val("");
        $("#txtTenForm").val("");
        $("#txtModule").val("");
        $("#SuachucNangId").val("");
    }

    function SuaThongTin(id) {
        // alert("Mã cần sửa: " + id);
        var frmData = new FormData();
        frmData.append('id', id);
        //Thực hiện xử lý thêm mới bằng ajax
        $.ajax({
            type: "POST",
            contentType: false,
            processData: false,
            url: "/Admin/ChucNang/ChiTietChucNangJson",
            data: frmData,
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    $("#tieude").text("Sửa chức năng");
                    $("#txtTenChucNang").val(data.TenChucNang);
                    $("#txtMoTa").val(data.MoTa);
                    $("#txtTenForm").val(data.TenForm);
                    $("#txtModule").val(data.Module);
                    $("#SuachucNangId").val(data.Id);
                }
            }
        });
    }

    //Xóa thông tin chủ đề
    function xoaChucNang() {
        var id = $('#XoachucNangId').val();
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Admin/ChucNang/Xoa",
            data: "{'id':'" + id + "'}",
            dataType: "json",
            async: "false",
            success: function (data) {
                //debugger;
                if (data != null) {
                    //Reload lại trang
                    window.location.reload();
                }
                else
                    alert('Có lỗi xảy ra trong quá trình thực hiện');
            },
            error: function (result, textStatus, errorThrown) {
                alert("Error:" + errorThrown + " - " + textStatus + " - " + result);
                window.location.reload();
            }
        });


    }//End xoaChuDe

    function ShowModal(id) {
        $('#staticModal').modal('toggle');
        $('#XoachucNangId').val(id);
    }

    function ClearModal() {
        $('#XoachucNangId').val('');
    }
</script>
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="row">
            <div class="col-xs-12">
                <div class="clearfix">
                    <div class="pull-right tableTools-container">
                        <span data-toggle="modal" data-target="#themmoichucnang" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Thêm mới</span>
                    </div>
                </div>
                <div class="table-header">
                    Danh sách Chức Năng
                </div>

                <!-- div.table-responsive -->
                <!-- div.dataTables_borderWrap -->
                <div>
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="center">
                                    <label class="pos-rel">
                                        <input type="checkbox" class="ace" />
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th>Id</th>
                                <th>Tên Chức Năng</th>
                                <th>Mô tả</th>
                                <th>Tên Form</th>
                                <th>Module</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="center">
                                        <label class="pos-rel">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>
                                    <td>@item.Id</td>
                                    <td>@item.TenChucNang</td>
                                    <td>@item.MoTa</td>
                                    <td>@item.TenForm</td>
                                    @if (item.Module == 1)
                                    {
                                        <td>
                                            Sản phẩm
                                        </td>
                                    }
                                    else if (item.Module == 2)
                                    {
                                        <td>
                                            Hóa Đơn
                                        </td>
                                    }
                                    else if (item.Module == 3)
                                    {
                                        <td>
                                            Danh Mục
                                        </td>
                                    }
                                    else if (item.Module == 4)
                                    {
                                        <td>
                                            Hệ Thống
                                        </td>
                                    }
                                    <td style="width:120px;">
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a class="blue" href="#">
                                                <i class="ace-icon fa fa-search-plus bigger-130"></i>
                                            </a>
                                            <a class="green" data-toggle="modal" data-target="#themmoichucnang" onclick="SuaThongTin(@item.Id);">
                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                            </a>

                                            <a class="red" href="#" onclick="ShowModal(@item.Id)">
                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                            </a>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->
<!--Thiết kế form thêm mới chủ đề-->
<div class="modal fade" id="themmoichucnang" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="tieude">Thêm mới chức năng</span></h4>
            </div>
            <div class="modal-body" style="padding: 10px 10px;">
                <div class="row">
                    <div class="col-md-3">
                        <label>Tên chức năng <span style="color:red">(*)</span></label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" id="txtTenChucNang" class="form-control" data-val="true" required data-val-required="Bạn cần nhập tên chức năng" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Mô tả <span style="color:red">(*)</span></label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" id="txtMoTa" class="form-control" data-val="true" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Tên Form <span style="color:red">(*)</span></label>
                    </div>
                    <div class="col-md-9">
                        <input type="text" id="txtTenForm" class="form-control" data-val="true" required data-val-required="Bạn cần nhập tên Form" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Module <span style="color:red">(*)</span></label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" id="txtModule">
                            <option value="1">Sản Phẩm</option>
                            <option value="2">Hóa Đơn</option>
                            <option value="3">Danh Mục</option>
                            <option value="4">Hệ Thống</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="margin: 0px; padding: 10px 10px;">
                <input id="btnThucHien" type="button" class="btn btn-primary" value="Lưu lại" />
                <button type="button" class="btn btn-primary" data-dismiss="modal" title="Đóng giao diện hiện thời" onclick="XoaThongTinForm();">Đóng</button>
                <br />
                <input type="hidden" id="SuachucNangId" name="chucNangId" />
            </div>

        </div>
    </div>
</div>
@*Hiển thị dialog xóa thông tin*@
<div class="modal fade" id="staticModal" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticModalLabel">Xóa Chức Năng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Bạn có chắc chắn muốn xóa Chức Năng?
                </p>
                <input type="hidden" id="XoachucNangId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="xoaChucNang()">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="ClearModal()">Đóng</button>

            </div>
        </div>
    </div>
</div>